<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l' crossorigin='anonymous'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <style>
        h1, h3, h4, h5,h6 {
            color: #ffffff;
            text-shadow: 0 0 10px #000000;
        }
    </style>
</head>
<body>
    <div class="content">
        <div class='d-flex'>
            <div class='pr-3 text-center' >
                <img style='width:160px;' src=''>
                <h5></h5>
            </div>
            <div>
                <h1></h1>
                <h3></h3>
                <h6></h6>
                <h4></h4>
            </div>
        </div>
    </div>
</body>
<script>
    var loadData = function () {
        $.ajax({
            url: "{{ url('overlay_details',{apikey:apiKey}) }}",
            dataType: 'json',
            success: function (data) {
                if(data.enabled === true) {
                    $('.content').show();
                }else{
                    $('.content').hide();
                }
                $('img').attr('src', data.cover);
                $('h1').html(data.title);
                $('h6').html("Difficulty: "+data.level);
                $('h3').html(data.author);
                $('h4').html("Mapped by: "+data.mapper);
                $('h5').html(data.duration);
            },
            error: function () {
                $('.content').hide();
            }
        })
    }


    $(function () {
        loadData();
        setInterval(function () {
             loadData();
        }, 1000);
    });
</script>
</html>

