{% extends 'base.html.twig' %}
{% block body %}
    <main class="wrapper">

        <section class="section-banner section-banner-full-page login_register_img login-register" style="background-image:url('{{ parameter_service.value('login_bg') }}')">
            <div class="container">
                <div class="flag-center"><h2>{{"Rejoins-nous !"|trans}}</h2></div>
                <i class="flag flag-right"></i>
                <i class="flag flag-left"></i>
                <div class="card card-no-effect shadow border-0 col-12 px-lg-5 py-lg-5">
                    <div class="row">
                        {% block login_form %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}