<div class="card">
    <div class="card-title">Privacy</div>
    <div class="card-body">
        <h2>RagnaCustoms Privacy Policy</h2>
        <h3>utilisateurs non enregistrés</h3>
        <p>Ce site ustilise des cookies de session et token dans l'idée de suivre les utilisateurs connectés au travers des requêtes de chaque pages.
            Pour des raisons techniques ces cookies sont créés meme si vous etes un utilisateur non enregistré.
            Dans ce cas aucune information personnelle n'est enregistrée dans les cookies.
            </p>

        <h3>Registered Users</h3>
        <p>This site uses session-cookies tokens in order to track an authenticated user over multiple page requests.
            Due to technical reasons a cookie will also be created even if you are not a registered user. In that case
            no personal data is stored inside the cookie.
            After a successful login an identifier will be written to the cookie until the session expires or the user
            is logged out.</p>

        <h3>In order to register at RagnaCustoms we need three things:</h3>
        <ul>
            <li><b>Username</b>: may be publicly visible if you choose to upload a song.</li>
            <li><b>Email</b>: will be used for first time account validation. All emails will be sent from
                contact@ragnacustoms.com
            </li>
            <li><p>Password</p>: we store the password in an encrypted hash.</li>
        </ul>
    </div>
</div>