{% if cmsBlock is not null %}
<div class="cms-block">
    {% if is_granted('ROLE_ADMIN') %}
        <div>
        <a data-toggle="tooltip" title="Modifier le contenu" class="btn btn-employee btn-primary btn-sm" target="_blank" rel="noopener"
                href="{{ url("cms_block_edit",{id:cmsBlock.id}) }}"><i class="fa fa-edit"></i></a>
            {#<button class="btn btn-employee btn-primary btn-sm" data-toggle="modal" data-target="#formModal"#}
                {#data-href="{{ url("cms_ajax_block_edit",{id:cmsBlock.id}) }}"><i class="fa fa-edit"></i></button>#}
        </div>
        {% endif %}
        {{ content|raw }}
</div>
{% endif %}