{% extends 'base_backoffice.html.twig' %}

{% block title %}{{ "Modifier une règle"|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-default color-palette-box">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-tag"></i>
                        {{ "Modifier/Ajouter une règle"|trans }}
                    </h3>
                </div>
                <div class="card-body">
                    {{ include('backend/rule/_form.html.twig', {'button_label': 'Enregistrer'}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
