{%- for author in authors -%}
  {%- if loop.index > 1 -%},&nbsp;{%- endif -%}
  <a href="{{ url('song_library') }}?search=artist%3A{{ author|trim|url_encode }}">
    {{- author|trim -}}
  </a>
{%- endfor -%}

