<div id="ragna-beat-diffs"></div>
<div id="ragna-beat-buttons"></div>
<div id="ragna-beat-sounds" class="text-center"></div>
<canvas id="ragna-canvas" width="300" height="600"></canvas>
<div id="ragna-beat-volumes"></div>
<div id="ragna-beat-info">(Drum sound only plays when this tab is active)</div>
<div id="ragna-beat-duration">
    <input type="range" min="1" max="100" value="0">
    <span class="current">00:00</span>
    <span class="max">00:00</span>
</div>

<div class="text-center">New player by <b>Ratzee</b></div>

<div id="info-dat" data-file="{{ song.infoDatFile }}"></div>


