<span class="text-success">
              {{ song.voteUp }} &nbsp;<!-- ICON THUMBS UP -->
              <a href="#" class="ajax-link" data-url="{{ url('song_vote_up') }}" data-success="editParent">
                 <i class="far fa-thumbs-up"></i>
              </a>&nbsp;
           </span>