<div class="button disabled with-only-icon popup-review-trigger song-review"
     data-replace-selector=".song-vote-{{ song.id }}"
     data-url="{{ url('song_review',{id:song.id}) }}"
     data-song-id="{{ song.id }}">
    <!-- RATING LIST -->
    <div class="rating-list">

        {% set rate = song.countVotes is not null ? (song.totalVotes/song.countVotes)|round(0,"floor") :0 %}
        {% for i in 0..4 %}
            <!-- RATING -->
            <div class="rating dark {% if rate > i %}filled{% endif %}">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                    <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
            </div>
            <!-- /RATING -->
        {% endfor %}

        <!-- /RATING -->
    </div>
    <!-- /RATING LIST -->
</div>


