{% extends 'base_backoffice.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card ">
                <div class="card-header border-0">
                    <h3 class="card-title">
                        <i class="fas fa-th mr-1"></i>
                        Accueil
                    </h3>

                </div>
                <div class="card-body">
                    Bonjour, merci pour votre aide.
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ "Dashboard"|trans }}
{% endblock %}

