/**
 * Styles de la page listant les challenges
 * Version 1.0
 * 11/2020
 */

.challenge-global {
    img {
        max-width: 300px;
    }
    i {
        font-size: 3em;
    }
    .btn {
        width: 100%;
    }
    h2, label, a {
        text-transform: uppercase;
        margin-bottom: 0;
    }
    
    .icon-global {
        margin-right: 20px;
    }
    .encart-global > div {
        margin: 5px 0;
    }

    .time-globals > div {
        margin: 10px 0;
    }

    .infos-toornament {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.5;
    }

    @media screen and (max-width: 767px) {
        .title-challenge-details {
            text-align: center;
        }
    }
}

.challenge-details {
    .tab-content {
        min-height: 200px;
        margin: 30px 0 0;
    }
    .nav-tabs .nav-link {
        border: none;
        color: $black;
    }
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        border-bottom: 3px solid $brown;
        font-weight: 600;
    }
}
