/**
 * Styles de la page d'accueil
 * Version 1.0
 * 09/2020
 */

.home-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: 50% 0;
  h1 {
    color: $white;
    font-size: 2.8rem;
    text-transform: uppercase;
    text-align: center;
  }
}

.home-presentation {
  .home-videos .text {
    text-align: center;
  }
  .container .text {
    margin-bottom: 2rem;
  }
  iframe {
    width: 100%;
    min-height: 274px;
    margin-bottom: 20px;
  }
}

.home-join-us {
  .container .text {
    color: $white;
  }
  iframe {
    width: 100%;
    min-height: 274px;
  }
}

.home-howto-join-us {
  img {
    width: 100%;
  }
}

.home-don {
  .container {
    text-align: center;
    .text {
      color: $white;
    }
  }
  img {
    width: 300px;
    background-color: $white;
  }
}
