/**
 * Styles du parallax
 * Version 1.0
 * 09/2020
 */
 
 .section-parallax, .section-banner {
    min-height: 250px;
    padding: 20px 0;
 }

.parallax-background, .section-banner:not(.section-banner-full-page) {
    padding: 20px 0;
    position: relative;
    &::before {
      content: ' ';
      background-color: $brown;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      opacity: 0.5;
    }
    h1 {
      position: relative;
      z-index: 2;
    }
    > .container {
      position: relative;
    }
}
 
 .static {
   background: $white;
 }
 
 .bg1 {
    background-image: url("../img/img_01.jpg");
 }
 
 .bg2 {
   background-image: url("../img/img_02.jpg");
 }

 .bg3 {
    background-image: url("../img/img_03.jpg");
  }

.login_register_img {
  background-image: url("../img/login_register.jpg");
}

 ///---------------



