/**
 * Styles des deux forms (login et inscription)
 * Version 1.0
 * 09/2020
 */

.login-register {
    padding: 100px 0px;

    .container {
        position: relative;
    }

    .card-header {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: none;
    }

    .title-sign {
        font-size: 1.5em;
    }

    .card {
        flex-direction: row;
        border-radius: 0;
        padding-top: 50px;
    }
    
    #registration_container {
        border-right: 1px solid $light-grey;

        .custom-control-terms {
            padding-left: 2.4rem;
        }
    }

    .custom-control label {
        cursor: pointer;
    }

    .flag {
        border-top-color: $pastel-orange;
        border-bottom-color: $pastel-orange;
    }

    .flag-left {
        border-right-color: $pastel-orange;
        z-index: 0;
    }

    .flag-right {
        border-left-color: $pastel-orange;
        z-index: 0;
    }

    .flag-center {
        background-color: $pastel-orange;
        width: calc(100% + -10px);
        left: 5px;
    }
    
    @media screen and (max-width: 767px) {
        .card > .row {
            flex-direction: column-reverse;
        }
    }
}