{% extends 'base_backoffice.html.twig' %}

{% block content %}
    <h2>Tous les challenges</h2>

    {% for challenge in challenges %}
        <a href="{{ url("video_maker_specifique_admin_new",{id:challenge.id}) }}">{{ challenge.title }}</a><br/>
    {% endfor %}
{% endblock %}

{% block title %}


{% endblock %}

