{% extends 'base.html.twig' %}

{% block title %}Twitch lives of Ragnaröck {{ parent() }}{% endblock %}

{% block body %}
<div class="row">
    <h2>{{ "Online"|trans }}</h2>
    {% for stream in channels %}
    <div class="col-md-4">

    </div>
    {% else %}
    <p>{{ "No online streamer for now"|trans }} :(</p>
    {% endif %}
</div>
{% endblock %}
