/*
 * COLORS
 */

 $brown: #707070;
 $light-brown:#929292;
 $orange-icon: #EF8003;
 $green: #00B42A;
 $black: #000000;
 $white: #ffffff;
 $light-grey: #f2f2f2;
 $grey: #cfcfcf;
 $dark-grey: #606060;
 $pastel-red: #ce6e6e;
 $pastel-orange: #FBB03B;
 $pastel-green: #76b385;
/*
 * IMPORTS
 */
 
@import "parts/header.scss";
@import "parts/footer.scss";
@import "parts/parallax.scss";
@import "parts/forms.scss";
@import "parts/register_login.scss";
@import "parts/home.scss";
@import "parts/challenges.scss";
@import "parts/challenge.scss";
@import "parts/presentation_page.scss";
@import "parts/alert-message.scss";
// Bootstrap Functions
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/bootstrap.scss";


@import "./node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "./node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "./node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

body {
    font-family: 'Montserrat', sans-serif;
    &.hidden {
        overflow: hidden;
    }
}

main.wrapper {
    min-height: calc(100vh - 58px);
}

/* =============== GLOBAL =============== */
.bold {
    font-weight: 600;
}

/* Buttons */
.btn-custom {
    border-radius: 0;
    line-height: 1;
    color: white;
    transition: 0.2s;
    padding: 10px 20px;
    &.btn:hover {
        color: $white;
    }
    &.btn-green:not(.disabled) {
        background-color: $green;
        border: 1px solid $green;
        cursor: default;
        &.active {
            cursor: pointer;
        }
        &.active:hover {
            background-color: $white;
            color: $green;
        }
    }
    
    &.btn-grey:not(.disabled) {
        background-color: $brown;
        border: 1px solid $brown;
        cursor: default;
        &.active {
            cursor: pointer;
        }
        &.active:hover {
            background-color: $white;
            color: $brown;
        }
    }

    &.btn-red:not(.disabled) {
        background-color: $pastel-red;
        border: 1px solid $pastel-red;
        cursor: default;
        &.active {
            cursor: pointer;
        }
        &.active:hover {
            color: $pastel-red;
            background-color: $white;
        }
    }
}

#btn-scroll-top {
    width: 50px;
    height: 50px;
    background-color: $grey;
    position: fixed;
    right: 30px;
    bottom: 50px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
    opacity: 0.8;
    z-index: 10;
    display: none;
    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        i {
            top: 40%;
        }
    }
    i {
        position: absolute;
        font-size: 3em;
        top: 47%;
        transform: translate(-50%, -50%);
        left: 50%;
        color: $white;
        transition: 0.2s;
    }
}


// et on masque le input
.input-file {
    display: none;
}


/* Cards effect */
.card {
    transition: 0.2s;
}
.card:not(.card-no-effect):hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 30px #e2dee5;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); 
}



/* Social links */
.nav-link-social {
    .fa {
        width: 30px;
        height: 30px;
        text-align: center;
        background-color: $orange-icon;
        border-radius: 50%;
        position: relative;
        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    span {
        display: none;
    }
}

/* Modals */
.modal {
    .card-body {
        background-color: $light-grey;
    }
    .custom-control-input:checked ~ .custom-control-label::before {
        background-color: $green;
    }
    .footer-modal {
        margin: 5px;
    }

    .inscription_modal .modal-content {
        height: 343px;
    }

    .connexion_modal .modal-content {
        height: 343px;
        transition: 0.2s;
    }
}

.flag-center {
    width: calc(100% + 10px);
    height: 55px;
    background-color: $pastel-red;
    position: absolute;
    z-index: 1;
    top: -31px;
    left: -5px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    > * {
        margin: 0rem;
    }
}
.flag {
    position: absolute;
    top: -24px;
    border-radius: 2px;
    opacity: 0.7;
    border: 35px solid;
}
.flag-left {
    left: -50px;
    border-left-color: transparent;
    z-index: -1;
}
.flag-right {
    right: -50px;
    border-right-color: transparent;
    z-index: -1;
}

.error-modal {

    .flag-center {
        background-color: $pastel-red;
    }
    .flag {
        border-top-color: $pastel-red;
        border-bottom-color: $pastel-red;
    }
    .flag-left {
        border-right-color: $pastel-red;
    }
    .flag-right {
        border-left-color: $pastel-red;
    }
}

.warning-modal {
    .flag-center {
        background-color: $pastel-orange;
    }
    .flag {
        border-top-color: $pastel-orange;
        border-bottom-color: $pastel-orange;
    }
    .flag-left {
        border-right-color: $pastel-orange;
    }
    .flag-right {
        border-left-color: $pastel-orange;
    }
}

.sucess-modal {
    .flag-center {
        background-color: $pastel-green;
    }
    .flag {
        border-top-color: $pastel-green;
        border-bottom-color: $pastel-green;
    }
    .flag-left {
        border-right-color: $pastel-green;
    }
    .flag-right {
        border-left-color: $pastel-green;
    }
}


/* loaders */
.loading-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4e4e4;
}

.sb-loading {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top: 5px solid rgba(255, 255, 255, 0.2);
  border-right: 5px solid rgba(255, 255, 255, 0.2);
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
  border-left: 5px solid #000;
  animation: loading 1s infinite linear;
  position: relative;
  box-sizing: border-box;
  border-left-color: $brown;
  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 50%;
    border-top: 5px solid rgba(255, 255, 255, 0.2);
    border-right: 5px solid #000;
    border-bottom: 5px solid rgba(255, 255, 255, 0.2);
    border-left: 5px solid rgba(255, 255, 255, 0.2);
    animation: loading 3s infinite linear;
    box-sizing: border-box;
    border-right-color: $brown;
  } 
  &::after {
    border-top-color: $brown;
  }
}

/* Select */
select {
    width: 100%;
    padding: 10px;
    border: none;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
        background-color: #eaeaea;
    }
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}