{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-5">
        <div class="col-12">
            <h2>Version 2.0.4</h2>
            <ul>
                <li>Add message on new version</li>
            </ul>
        </div>
        <div class="col-12">
            <h2>Version 2.0.3</h2>
            <ul>
                <li>Add Deutsch to application translation thanks to <a href="https://github.com/dkuss" target="_blank">@dkuss</a>
                </li>
                <li>Add translation for twitch bot</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

