{% extends 'base.html.twig' %}

{% block title %}Hello ApplicationController!{% endblock %}

{% block body %}
    <div class="widget-box">
        <h2>Our application</h2>
        <p class="pt-2">Our application is Magic ! It create all folders it need and unzip files in the right place,
            it also rename the custom song folder with the song title for a better experience in game.</p>
        <p class="pt-2">Our application allow you to search in the catalog any song and download it.</p>
        <p class="pt-2">Our application allow you to download song with only 1 click on the website.</p>
        <p class="pt-2">Our application don't need installation, you only have to download, unzip and run it.</p>
        <p class="pt-2">Some screenshot of our application : </p>
        <img src="/apps/screen1.jpg"/>
        <img src="/apps/screen2.jpg"/>

        <p class="pt-2"><a href="/apps/RagnaCustoms.zip" class="button secondary padded">Download now</a></p>

    </div>
{% endblock %}
