@import "~admin-lte/build/scss/AdminLTE.scss";
@import "~admin-lte/build/scss/AdminLTE-extra-components";
@import "~admin-lte/build/scss/AdminLTE-plugins";
@import "~admin-lte/build/scss/dropdown";
@import "~admin-lte/plugins/chart.js/Chart.min.css";
@import "~admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css";

@import "~@fortawesome/fontawesome-free/css/all.min.css";
//@import "~trumbowyg/dist/ui/icons.svg";
@import "~trumbowyg/dist/ui/sass/trumbowyg";
@import "~select2/dist/css/select2.min.css";
//@import "assets/js/argon/plugins/chartjs.min.js";

.slimScrollBar {
  background-color: white !important;
  opacity: 0.3 !important;
}

html .control-sidebar-animate {
  overflow-x: hidden;
}