<h1>Bonjour</h1>

<p>Pour réinitialiser votre mot de passe, merci de cliquer sur le lien suivant :</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ tokenLifetime|date('g') }} heure(s).</p>

<p>Merci et à bientôt !</p>