{% extends 'base_login.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block login_form %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Réinitialisation du mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre email afin de recevoir le lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary">Envoyer la demande</button>
    {{ form_end(requestForm) }}
{% endblock %}