{% extends "user/profile.html.twig" %}
{% import "songs/macros/song.html.twig" as macro_song %}

{% block detailed_content %}
    <div class="col-12">
        <h2>Songs mapped</h2>
        <table class="table songs">
            <tr>
                <th>Song</th>
                <th class="text-center">Review</th>
                <th class="text-right">Date</th>
            </tr>
            {% for song in user.songs %}
                <tr>
                    <td class="song-preview tiny">
                        {{ macro_song.description(song) }}
                    </td>
                    <td class="text-center">
                        {{ song.voteAverage|round(2, "floor") }}
                    </td>
                    <td class="text-right">
                        {{ song.updatedAt.format('Y-m-d') }}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="3">I don't think he is a mapper</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}