{% extends 'base.html.twig' %}

{% block title %}My playlists{% endblock %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}
{% block body %}
<div class="container-fluid">

  <div class="row mt-3">
    <div class="col-md-2">
      {% include 'user/partial/_left_part_user.html.twig' %}
    </div>
    <div class="col-md-10">
      <h2>{{ "All your playlists"|trans }}</h2>
      <div class="row">
        {% for playlist in app.user.playlists %}
          <div class="col-md-3">
              {% include 'playlist/partial/card.html.twig' %}
          </div>
        {% else %}
          <div class="col-md-3">
            <div class="playlist-placeholder">
              No Active playlist
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    {% endblock %}
