@import "~select2/dist/css/select2.min.css";

@font-face {
  font-family: 'Gelio Fasolada';
  src: url("../../public/apps/Gelio Fasolada.ttf") format('truetype');
}

@font-face {
  font-family: 'Gelio Pasteli';
  src: url("../../public/apps/Gelio Pasteli.ttf") format('truetype');
}

@font-face {
  font-family: 'Gelio Retsina';
  src: url("../../public/apps/Gelio Retsina.ttf") format('truetype');
}

$themes: (
        "light": (
                "colors": (
                        "primary": #29a946,
                        "secondary": #db5375,
                        "tertiary": #43bccd
                ),
                "shades": (
                        "shade-0": #efefef,
                        "shade-1": #e1e1e1,
                        "shade-2": #d8d8d8,
                        "shade-3": #bbbbbb,
                        "shade-4": #979797,
                        "shade-5": #535353,
                        "shade-6": #323232,
                        "shade-7": #ffffff
                )
        ),
        "dark": (
                "colors": (
                        "primary": #29a946,
                        "secondary": #db5375,
                        "tertiary": #43bccd
                ),
                "shades": (
                        "shade-0": #404447,
                        "shade-1": #303437,
                        "shade-2": #616161,
                        "shade-3": #757575,
                        "shade-4": #9e9e9e,
                        "shade-5": #bdbdbd,
                        "shade-6": #f5f5f5,
                        "shade-7": #434242
                )
        )
);
$color-level-1: #99ffff;
$color-level-2: #77dbdd;
$color-level-3: #4e5aa9;
$color-level-4: #7a3fb7;
$color-level-5: #9966cc;
$color-level-6: #9a426d;
$color-level-7: #991e3a;
$color-level-8: #983937;
$color-level-9: #d58d56;
$color-level-10: #e2cd6c;

@each $theme-name, $theme-vars in $themes {
  $shades: map-get($theme-vars, "shades");
  $colors: map-get($theme-vars, "colors");

  $theme: (
          "bg-color": map-get($shades, "shade-1"),
          "card-bg-color": map-get($shades, "shade-7"),
          "border-color": map-get($shades, "shade-2"),
          "border-focus-color": map-get($shades, "shade-3"),
          "subtle": map-get($shades, "shade-4"),
          "muted": map-get($shades, "shade-5"),
          "text-color": map-get($shades, "shade-6")
  );

  body.#{$theme-name} {
    // define a css variable for each shade
    @each $name, $color in $shades {
      --#{$name}: #{$color};
    }

    // define a css variable for each color
    @each $name, $color in $colors {
      --#{$name}: #{$color};
      --#{$name}-dark: #{darken($color, 10%)};
      --#{$name}-darker: #{darken($color, 20%)};
    }

    // define a css variable for each theme color
    @each $name, $color in $theme {
      --#{$name}: #{$color};
    }
  }
}

$zindex-popover: 80000;
$popover-max-width: 800px;
$body-bg: var(--bg-color);
$body-color: var(--text-color);
$card-bg: var(--card-bg-color);
$modal-content-bg: var(--card-bg-color);
$modal-: var(--card-bg-color);

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
$font-family-base: 'Rajdhani', sans-serif;
$font-weight-base: 500;

@import "~bootstrap";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap-switch-button/css/bootstrap-switch-button.min.css";


body {
  position: relative;
}

.text-level- {
  &1 {
    color: $color-level-1 !important;
  }

  &2 {
    color: $color-level-2 !important;
  }

  &3 {
    color: $color-level-3 !important;
  }

  &4 {
    color: $color-level-4 !important;
  }

  &5 {
    color: $color-level-5 !important;
  }

  &6 {
    color: $color-level-6 !important;
  }

  &7 {
    color: $color-level-7 !important;
  }

  &8 {
    color: $color-level-8 !important;
  }

  &9 {
    color: $color-level-9 !important;
  }

  &10 {
    color: $color-level-10 !important;
  }
}

.navbar-brand {
  font-family: "Gelio Retsina", serif;
  font-size: 30px;
  padding: 0;

  img {
    max-width: 45px;
  }
}
.navbar{
  font-size:18px
}
.viking-text {
  font-family: "Gelio Pasteli", serif;

  &-bold {
    font-family: "Gelio Retsina", serif;
  }
}

h1, h2, h3 {
  font-family: "Gelio Retsina", serif;

  small {
    font-family: "Gelio Pasteli", serif;
    font-size: 60%;
  }
}

.rating-wrap {
  .label {
    min-width: 100px;
  }
}

.search-and-filter {
  .form-group {
    label {
      font-size: 12px;
    }
  }
}

#search-bar {
  //border-bottom: 1px solid #b7b7b7;
}

table.songs {
  figure {
    margin: 0;
  }

  td {
    vertical-align: middle;
  }

  font-size: 12px;

  .thumbnail {
    max-width: 70px;
  }

  .song-preview {
    img{max-width:150px;}
    p {
      padding: 0;
      margin: 0;
    }

    .title {
      font-weight: bold;
    }
  }
}
.song-box{
  border: 1px solid #636363;
  border-radius: 5px;
  padding: 15px;
}
.product-preview-image{
  max-width:150px;
  height:150px;
  margin:0;
  img{
    max-height:150px;
  }
}
.bg-twitch {
  background: #6f42c1;
  color: #ffffff;

  &:hover {
    background: #673eb1;
    color: #ffffff;
  }
}

.rating-wrap {
  label {
    display: inline-block;
    width: 33%;
  }
}

.downloaded {
  opacity: 0.5;
}

.rating-list {
  i {
    &.far {
      color: $body-color;
    }

    form & {
      cursor: pointer;
    }
  }
}

.popover {
  background: var(--card-bg-color);
  width: 200px !important;

  .arrow:after {
    border-top-color: var(--card-bg-color);
  }

  .popover-header {
    background: var(--card-bg-color);
  }

  label {
    display: block;
  }
}

.song-preview {
  a {
    color: #ffffff;

    .new {
      position: absolute;
    }
  }

  .category {
    a {
      color: var(--secondary);
    }
  }

  .title {
    a {
      color: var(--primary);
      font-weight: 700;
    }
  }

  .creator {
    a {
      color: var(--primary-dark);
      font-weight: 700;
    }
  }

  .difficulties {
    font-size: 14px;

    span {
      font-weight: bold;
    }
  }
}

.song-detail {
  .resume {
    font-size: 20px;

    .numeric {
      font-weight: 700;

      span {
        color: #bc3ee3;
      }
    }

    .description {
      font-weight: 500;
    }
  }

  .informations {
    a {
      color: #2dcc2a;
      font-weight: 600;
    }
  }
}

.btn-youtube {
  background-color: #ff0000;
  color: #ffffff;
  font-weight: 500;

  &:hover {
    color: #ffffff;
  }
}

.runes {
  position: absolute;
  text-align: right;
  z-index: -10;
  bottom: 0;
  right: 0;

  img {
    width: 50%;
  }
}

.score-frame {
  //border:1px solid #ffffff;
  margin-bottom: 12px;
}

.nav-link {
  &.active {
    font-weight: bold;
  }

  &.text-twitch {
    font-weight: bold;
  }
}
.text-twitch{
  color: #6f42c1 !important;
}
.copy-clipboard {
  cursor: pointer;
}

#leaderboard-title {
  .select2-container--default {
    .select2-selection--single {

      background-color: transparent !important;
      color: #e46565 !important;
      border: none !important;
    }
  }
}

.pagination {
  font-size: 12pt;

  a {

    margin-left: 6px;

    &.active {
      color: $color-level-5;

      &:hover {

      }
    }
  }
}

.score-title {
  a.img {
    display: block;
    height: 160px;
    max-width: 160px;
    margin: auto;
  }
  .edit-btn {
    position: absolute;
    right: 63px;
    font-size: 10px;
    top: 0px;
  }
  .delete-btn {
    position: absolute;
    left: 63px;
    font-size: 10px;
    top: 0px;
  }
  img {
    max-height: 160px;
  }

  h6 {
    min-height: 38px;
    font-size: 12px;
    padding-top: 8px;
  }
}

.score-body {
  table {
    tr {
      th {
        border: none;
      }

    }
  }
}

.user-picture {
  position: relative;

  .certified {
    position: absolute;
    height: 50px;
    right: -55px;
    top: 0;
  }
  .mapper {
    position: absolute;
    height: 50px;
    right: -65px;
    top: 55px;
  }
}

.toast {
  position: fixed;
  bottom: 50px;
  right: 10px;
  background: $card-bg;
  width: 350px;

  .toast-header {
    background: $card-bg;
  }
}
.banner{
  margin:auto;
  margin-top:20px;
  font-size:30px;
  padding-top:8px;
  padding-bottom:8px;
  border-top: 10px double #fff;
  border-bottom: 10px double #fff;
  width:40%;
  a:hover{
    text-decoration: none;
    color: $color-level-10;

  }
  a{
    color: $color-level-9;
  }
}
figure{
  .new{
    position:absolute;
  }
}
.bookmark{
  position: absolute;
  top: 5px;
  right: 5px;
}