@import 'common';
@import 'pages/acceptance_criteria';
@import 'pages/application';
@import 'pages/getting_started';
@import 'pages/homepage';
@import 'pages/leaderboard';
@import 'pages/mapper_profile';
@import 'pages/mappers';
@import 'pages/notification';
@import 'pages/ranking_system';
@import 'pages/register';
@import 'pages/login';
@import 'pages/song_detail';
@import 'pages/song_library';
@import 'pages/song_upload';

body {
  overflow-x: hidden;
}

.dices {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: $main-text-color;
  font-size: 24px;
  border-radius: 50%;
  border: 2px solid #fff;

  &:hover {
    color: $main-text-color;
    background-color: #65abe8 !important;
  }
}

#user_profile {
  .darker {
    background: rgba(0, 0, 0, 0.21);
    background-blend-mode: soft-light;
    box-shadow: 0px 6px 27px rgba(0, 0, 0, 0.15);

    .up_down_vote {
      font-size: 24px;
    }
  }

  .table {
    tr {
      &:nth-child(2n) {
        background: $bg-tr-pair;

        &:hover {
          background: $bg-lighter;
        }
      }
    }

    th {
      font-size: 14px;

      .fa {
        font-size: 12px;
      }
    }

    td {
      border: none;
    }
  }

  .recently-played {
    font-size: 12px;

    th {
      text-align: left;
      border-top: none !important;
      padding: 3px;
    }

    tr:nth-child(2n) {
      background: $bg-lighter;
    }

    td {
      position: relative;
      vertical-align: middle;
      border: none;
      padding: 3px;
    }

    img {
      max-height: 35px;
      border-radius: 9px;
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
    }

    .level {
      width: 24px;
      line-height: 24px;
      border-radius: 12px;
      text-align: center;
      color: $main-text-color;
      margin-left: 5px;

    }


    .level-list {


      .level.is-ranked {
        position: relative;
        background: transparent !important;
        width: 24px !important;

        i {
          position: absolute;
          font-size: 24px;
          left: 0px;
          top: -2px;
        }

        span {
          z-index: 200;
          position: relative;
          text-align: center;
        }
      }
    }


    .title a {
      color: $song-title-color;
      font-size: 12px;
      font-weight: 700;
    }

    .author a {
      color: $song-author-color;
      font-size: 11px;
      font-weight: 400;
    }
  }

  .username {
    color: $warning;
  }

  form {
    width: 100%;
  }

  #utilisateur_mapperDescription {
    min-height: 130px;
  }

  .encart {
    background: $bg-lighter;
    border-radius: 4px;
    text-align: center;

    .flex-fill:first-child {
      border-right: 0.5px solid #fff;
    }

    .flex-fill:last-child {
      border-left: 0.5px solid #fff;
    }

    .count {
      font-size: 24px;
      font-weight: bold;
    }

    .credits {
      font-size: 24px;
      font-weight: bold;
    }

    table.table-sm {
      margin-right: 15px;
      text-align: left;
      padding-left: 30px;

      tr, td {
        padding: 0;
        padding-right: 5px;
        margin: 0 !important;
        font-size: 14px;
      }

      td:first-child {
        font-weight: bold;
        font-size: 16px;
      }

      td:last-child {

      }
    }

  }
}

.force-default {
  text-transform: inherit !important;
}

header {
  transition: background-image 2s;
  background-repeat: no-repeat;
  background-size: cover;
}

form.search-and-filter {
  font-size: 19px !important;
}

.be-patreon {
  margin-top: 18px;
  font-size: 18px;
  line-height: 20px;
  text-shadow: 0 0 8px black;

  a {
    background: #f96854;
    color: $main-text-color;
    line-height: inherit;
    box-shadow: 0px 0px 20px #000;
    text-shadow: none;
    display: inline-block;
    padding: 5px 20px;
    font-size: 18px;

    &:hover {
      text-decoration: none;
      background: lighten(#f96854, 5%);
    }
  }
}

#home {
  .be-patreon {
    margin-top: 18px;
    font-size: 25px;
    line-height: 35px;
    text-shadow: 0 0 8px black;

    a {
      background: #f96854;
      color: $main-text-color;
      line-height: inherit;
      box-shadow: 0px 0px 20px #000;
      text-shadow: none;
      display: inline-block;
      padding: 5px 20px;
      font-size: 24px;

      &:hover {
        text-decoration: none;
        background: lighten(#f96854, 5%);
      }
    }
  }
}


.be-twitch {
  margin-top: 18px;
  font-size: 18px;
  line-height: 20px;
  text-shadow: 0 0 8px black;

  a {
    background: $twitch;
    color: $main-text-color;
    line-height: inherit;
    box-shadow: 0px 0px 20px #000;
    text-shadow: none;
    display: inline-block;
    padding: 5px 20px;
    font-size: 18px;

    &:hover {
      text-decoration: none;
      background: lighten($twitch, 5%);
    }
  }
}

h2 {
  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

a.disabled {
  pointer-events: none;
  opacity: 50%;
}

.shiny-text {
  background-image: -webkit-linear-gradient(left, white 25%, $event-color-dark-blue 37.5%, $event-color-blue, $event-color-blue 62.5%, white 75%);
  background-image: linear-gradient(90deg, white 25%, $event-color-dark-blue 37.5%, $event-color-blue, $event-color-blue 62.5%, white 75%);
  background-position: right center;
  background-size: 400% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: white;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  transition: color 200ms linear;
}

textarea {
  background: #414141 !important;
  color: #fff !important;
  border: none !important;
}

.shiny-text:hover {
  background-position: left center;
  color: $event-color-blue;
  transition: background-position 2000ms ease-out;
}

.circle a {
  font-size: 14px;
  text-decoration: none;
  outline: 0;
}

.circle .ring a {
  font-size: 16px;
  text-decoration: none;
  outline: 0;
}

.circle {
  height: 100px;
  position: relative;
  width: 100px;
  z-index: 100;
}

.ring {
  height: 100px;
  position: relative;
  width: 100px;
  z-index: 100;
}

.circle.open {
  z-index: 1000;
}

.circle {
  margin: 0 auto;
}

.ring {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  opacity: 0;

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  -webkit-transform: scale(0.1) rotate(-270deg);
  -moz-transform: scale(0.1) rotate(-270deg);
  -transform: scale(0.1) rotate(-270deg);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.open .ring {
  opacity: 1;

  -webkit-transform: scale(1) rotate(0);
  -moz-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
}

.center {
  //background-color: rgba(255,255,255,0.3);
  border-radius: 50%;
  //border: 2px solid #ffffff;
  bottom: 0;
  color: white;
  height: 30px;
  left: 0;
  line-height: 30px;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 30px;
  z-index: 200;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.open .center {
  border-color: #aaaaaa;
}

.menuItem {
  border-radius: 50%;
  color: #eeeeee;
  display: block;
  height: 20px;
  line-height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  position: absolute;
  text-align: center;
  width: 20px;
  z-index: 101;
}

.btn-tag {
  background: #3c3c3c;
  color: $main-text-color;
  font-size: 12px;

  &:hover {
    background: #2f2f2f;
    color: $main-text-color;
  }
}

.no-bg {
  background: transparent !important;
}

.user-menu li {
  a {
    color: $main-text-color;

    &:hover {
      text-decoration: none;
    }
  }

  &:hover, &.activated {
    color: #0d5aa7;

    a {
      color: #0d5aa7;
    }
  }
}

.user-picture {
  .friend-request {
    position: absolute;
    top: 10px;
    right: 25px;
  }
}

.one-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  overflow: hidden
}

.level-1 {
  background: $level1;
  border: 2px solid darken($level1, 10%);
  color: #000000;
}

.level-2 {
  background: $level2;
  border: 2px solid darken($level2, 10%);
  color: #000000;
}

.level-3 {
  background: $level3;
  border: 2px solid darken($level3, 10%);
}

.level-4 {
  background: $level4;
  border: 2px solid darken($level4, 10%);
}

.level-5 {
  background: $level5;
  border: 2px solid darken($level5, 10%);
}

.level-6 {
  background: $level6;
  border: 2px solid darken($level6, 10%);
}

.level-7 {
  background: $level7;
  border: 2px solid darken($level7, 10%);
}

.level-8 {
  background: $level8;
  border: 2px solid darken($level8, 10%);
}

.level-9 {
  background: $level9;
  border: 2px solid darken($level9, 10%);
}

.level-10 {
  background: $level10;
  border: 2px solid darken($level10, 10%);
}

.vote-it {
  background: linear-gradient(90deg, rgb(23, 23, 23) 0%, rgb(43, 43, 43) 20%, rgb(43, 43, 43) 80%, rgb(23, 23, 23) 100%);
  padding: 16px;
  border-radius: 30px;
}

@import 'card.scss';

.playlist-placeholder{
  border-radius: 5px;
  background: #202020;
  border: 1px solid #464646;
  vertical-align: middle;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: relative;
  text-align: center;
  font-size: 32px;
  color: #8a8a8a;
  padding-top:100px;
  padding-bottom:100px;
}
.tooltip{
  z-index:1000!important;
}
.playlist-card {
  border-radius: 5px;
  background: #202020;
  border: 1px solid #464646;
  vertical-align: middle;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: relative;

  .header {
    background: #414141;
    position: relative;
    display: table-cell;

    .placeholder {
      border: 1px solid #565656;
      background: #202020;
      border-radius: 5px;
      width: 20%;
      padding-top: 6%;
      text-align: center;
    }

    .preview {
      width: 20%;
      font-size: 18px;
      font-weight: 700;
      color: #8a8a8a;
      font-family: "Catamaran", sans-serif;

      img {
        border-radius: 5px;
        width: 100%;
      }
    }
  }

  .content {
    padding: 10px 10px 0 10px;

    .title {
      color: $warning;
      font-size: 16px!important;
      line-height: 18px;
      font-weight: bold;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* Limite à 3 lignes */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; /* Ajoute des "..." à la fin */

    }

    .description {
      text-align: left;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* Limite à 3 lignes */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; /* Ajoute des "..." à la fin */
      height:63px;
      font-size:14px;
      p {
        padding: 0;
        margin: 0;
      }
    }
    .featuring-songs {
      font-size:14px;
      text-align: left;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* Limite à 3 lignes */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; /* Ajoute des "..." à la fin */
      height:42px;
      color: #8a8a8a;
    }
  }

}
#playlist_show {
  &.placeholder{

  }

  table {
    margin-top:-8px;
    border-collapse: separate; /* Nécessaire pour que border-radius fonctionne */
    border-spacing: 0 8px ; /* Espacement vertical entre les lignes */
  }

  td {
    border-top: 1px solid #464646;
    border-bottom: 1px solid #464646;

    background: #202020;
    padding: 5px;
  }

  tr td:first-child {
    border-top-left-radius: 5px; /* Coin supérieur gauche */
    border-bottom-left-radius: 5px; /* Coin inférieur gauche */
    border-left: 1px solid #464646;
  }

  tr td:last-child {
    border-top-right-radius: 5px; /* Coin supérieur droit */
    border-bottom-right-radius: 5px; /* Coin inférieur droit */
    border-right: 1px solid #464646;
  }

  h1{
    font-size:18px;
    padding:0;
    margin:0;
  }

  .curated{
    color: #8a8a8a;
    margin-bottom:15px;
    a {
      font-size:18px;
    }
  }

  .btn.btn-blue {
    padding: 2px 25px;
    font-size: 16px;
    font-weight: 700;
    font-family: "Catamaran", sans-serif;
    background: #235886;
    border: 1px solid #1388EE;
    border-radius: 3px;
    color: $main-text-color;
  }
}


table {
  margin-top:-8px;
  border-collapse: separate; /* Nécessaire pour que border-radius fonctionne */
  border-spacing: 0 5px ; /* Espacement vertical entre les lignes */
}

td {
  border-top: 1px solid #464646!important;
  border-bottom: 1px solid #464646!important;

  background: #202020;
  padding: 3px;
}

tr td:first-child {
  border-top-left-radius: 5px; /* Coin supérieur gauche */
  border-bottom-left-radius: 5px; /* Coin inférieur gauche */
  border-left: 1px solid #464646;
}

tr td:last-child {
  border-top-right-radius: 5px; /* Coin supérieur droit */
  border-bottom-right-radius: 5px; /* Coin inférieur droit */
  border-right: 1px solid #464646;
}
