.card {
  background:transparent;
  max-width: 100%;
  margin: auto;
  height: auto;
  position: relative;
  transition: transform 0.1s ease;
  transform-style: preserve-3d;
  will-change: transform;
  overflow: hidden;
  border-radius:10px;
}

/* Slight parallax effect on hover */
.card:hover .content {
  transform: translateZ(2px);
}

.card .glow{
  background : radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%);
  opacity: 0.25;
  border-radius: 50%;
  position:absolute;
}