<form method="post" action="{{ path('agn_temporary_parameter_delete', {'id': agn_temporary_parameter.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ agn_temporary_parameter.id) }}">
    <button class="btn">Delete</button>
</form>
