
#applications {
  .card {
    background-color: #202020;

    .card-header {
      position: relative;
      padding: 0;
      height: 150px;
      overflow: hidden;

      h2 {
        position: absolute;
        z-index: 110;
        left: 13px;
        bottom: 0;
      }

      .overlay {
        position: absolute;
        width: 100%;
        height: 150px;
        background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.59) 25.31%, rgba(0, 0, 0, 0) 53.99%);
        z-index: 100;
      }

      img {
        position: absolute;
        width: 100%;
        z-index: 90;

      }
    }

    .card-body {
      padding: 8px;
      font-size: 12px;
    }
  }
}
