@import '../common.scss';

#leaderboard {
  table{
    th:first-child{
      width:50px;
    }
    a{
      color:#fff;
      &:hover{
        text-decoration:underline;
        color:#fff;
      }
    }
    .text-success{
      a{
        color:$success!important;
      }
    }
  }
}