#mappers {
  table{
    border:none;
    th:first-child{
      width:50px;
    }
    a{
      color:$danger;
      &:hover{
        text-decoration:underline;
        color:$danger;
      }
    }
    .text-success{
      a{
        color:$success!important;
      }
    }
  }
}
