.ranked-played {
  font-size: 12px;

  th {
    text-align: left;
    border-top: none !important;
    padding: 3px;
  }

  tr:nth-child(2n) {
    background: $bg-lighter;
  }

  td {
    position: relative;
    vertical-align: middle;
    border: none;
    padding: 3px;
  }

  img {
    max-height: 35px;
    border-radius: 9px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  }

  .level {
    width: 24px;
    line-height: 24px;
    border-radius: 12px;
    text-align: center;
    color: $main-text-color;
    margin-left: 5px;

  }


  .level-list {


    .level.is-ranked {
      position: relative;
      background: transparent !important;
      width: 24px !important;

      i {
        position: absolute;
        font-size: 24px;
        left: 0px;
        top: -2px;
      }

      span {
        z-index: 200;
        position: relative;
        text-align: center;
      }
    }
  }


  .title a {
    color: $song-title-color;
    font-size: 12px;
    font-weight: 700;
  }

  .author a {
    color: $song-author-color;
    font-size: 11px;
    font-weight: 400;
  }
}

.ranked-unplayed {
  font-size: 12px;

  thead {
    border: none;
  }

  th {
    text-align: left;
    border: none !important;
    padding: 3px;
  }

  tbody tr {
    height: 62px;
  }

  tr:nth-child(2n) {
    background: $bg-lighter;
  }

  td {
    position: relative;
    vertical-align: middle;
    border: none;
    padding: 3px;

    &.download {
      width: 80px;
      text-align: center;
      vertical-align: middle;

      .big-buttons {
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;


        .one-click {
          position: absolute;
          right: 0;
          width: 60px;
          vertical-align: middle;
          background: $success;
          height: 100%;
          padding-top: 12px;
          line-height: 18px;
        }

        .ddl {
          position: absolute;
          right: 60px;
          width: 60px;
          background: $info;
          height: 100%;
          padding-top: 12px;
          line-height: 18px;
        }
      }

      i.fa-check {
        color: $bg-lighter;
        font-size: 20px;
      }

      i.fa-chart-simple {
        color: $warning;
        font-size: 16px;
      }

      .preview-popup {
        color: $main-text-color;
        text-decoration: none;
      }

      .non-hover {
        display: block;

      }

      .on-hover {
        display: none;

      }

      &:hover {
        .non-hover {
          display: none;
        }

        .on-hover {
          display: block;
        }
      }

    }
  }

  img {
    max-height: 35px;
    border-radius: 9px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  }

  .level {
    width: 24px;
    line-height: 24px;
    border-radius: 12px;
    text-align: center;
    color: $main-text-color;
    margin-left: 5px;

  }


  .level-list {


    .level.is-ranked {
      position: relative;
      background: transparent !important;
      width: 24px !important;

      i {
        position: absolute;
        font-size: 24px;
        left: 0px;
        top: -2px;
      }

      span {
        z-index: 200;
        position: relative;
        text-align: center;
      }
    }
  }


  .title a {
    color: $song-title-color;
    font-size: 12px;
    font-weight: 700;
  }

  .author a {
    color: $song-author-color;
    font-size: 11px;
    font-weight: 400;
  }
}