@import '../common.scss';

.background-register{
  position: relative;
  background: url("../../img/register.jpg") no-repeat center center;
  z-index:0;
}
.register{
  padding-bottom:150px;
}
input[type=text],input[type=password],input[type=email],select, option{
  background:  $bg-lighter!important;
  color:#fff!important;
  &:placeholder-shown{
  color:white;
  }

  &::placeholder{
    color:white;
  }
  &:focus{
    background:  $bg-lighter;
    color:#fff;
  }
  border:none!important;
}
label{
  font-size:14px;
  color:#fff;
}
.forgot-password{
  color:$danger;
  &:hover{
    color:$danger;
  }
}