#song_library {
  .search-and-filter {
    label {
      color: $main-text-color;
      font-weight: 400;
    }
  }

  .select2-results {
    color: $bg;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background: $bg-lighter;
    border-color: $bg;
  }

  table {
    margin-top:-8px;
    border-collapse: separate; /* Nécessaire pour que border-radius fonctionne */
    border-spacing: 0 8px ; /* Espacement vertical entre les lignes */
  }

  td {
    border-top: 1px solid #464646;
    border-bottom: 1px solid #464646;

    background: #202020;
    padding: 5px;
  }

  tr td:first-child {
    border-top-left-radius: 5px; /* Coin supérieur gauche */
    border-bottom-left-radius: 5px; /* Coin inférieur gauche */
    border-left: 1px solid #464646;
  }

  tr td:last-child {
    border-top-right-radius: 5px; /* Coin supérieur droit */
    border-bottom-right-radius: 5px; /* Coin inférieur droit */
    border-right: 1px solid #464646;
  }

  .table {
    //border:none;
    //tr {
    //  &:nth-child(2n) {
    //    background: $bg-tr-pair;
    //
    //    &:hover {
    //      background: $bg-lighter;
    //    }
    //  }
    //}

    th {
      font-size: 14px;

      .fa {
        font-size: 12px;
      }
    }

    //td {
    //  border: none;
    //}
  }

  .tag-filter {
    color: $danger;
    border: 1px solid $danger;
    border-radius: 5px;
    font-size: 12px;
    padding: 3px 8px;
    margin-left: 8px;
  }
}
