@import '../common';
@import "../ragna-beat";

.search-and-filter {
  label {
    color: #fff;
    font-weight: 400;
  }
}
.select2-results{color:$bg;}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
  background:$bg-lighter;
  border-color:$bg;
}