@import '../common';
#main{
  transition:all 2s;
}
#song_detail {

  table {
    border:none;
  }
  #song-detail {
    .figure {
      position: relative;

      img {
        border-radius: 12px;
        box-shadow: 0 0 10px rgb(0 0 0 / 50%);
      }

      .level-list {

        position: absolute;
        bottom: 0;
        right: 5px;
        //display:none;

        .level {
          display: block;
          width: 30px;
          line-height: 18px;
          border-radius: 4px;
          font-size: 16px;
          text-align: center;
          color: #fff;
          margin-left: 2px;
          margin-bottom: 5px;
          //float: left;
          &.is-ranked {
            position: relative;
            background: transparent !important;
            width: 24px !important;
            line-height: 24px;

            i {
              position: absolute;
              font-size: 24px;
              left: 0px;
            }

            span {
              z-index: 200;
              position: relative;
              text-align: center;
            }
          }
        }
      }
    }

    .darker {
      background: rgba(0, 0, 0, 0.21);
      background-blend-mode: soft-light;
      box-shadow: 0px 6px 27px rgba(0, 0, 0, 0.15);

      .up_down_vote {
        font-size: 24px;
      }
    }

    .download-buttons {
      margin-top: 8px;

      a {
        font-size: 20px;
        font-weight: 400;
        padding: 2px 25px;
      }
    }

    .tags {
      span {
        font-size: 12px;
        margin-right: 4px;
        padding: 2px 5px;
        background: $bg;
      }
    }

    .buttons-middle {
      .btn {
        font-size: 14px;
        padding: 4px 16px;
        line-height: 10px;
        margin-right: 5px;
      }

      .btn-twitch {
        border: 2px solid $twitch;
        color: $twitch;
      }

      .btn-youtube {
        border: 2px solid $youtube;
        color: $youtube;
      }

      .btn-playlist {
        border: 2px solid $playlist;
        color: $playlist;
      }
    }

    .btn.song-feedback {
      border: 2px solid $warning;
      color: $warning;
    }

    .label {
      color: #868686;
      font-size: 14px;
    }

    .mapper {
      font-size: 20px;
      color: $danger;

      a {
        color: $danger;
      }
    }

    .description {
      font-size: 14px;
    }

    .rating-up {
      font-size: 20px;

    }

    .rating-wrap label {
      display: inline-block;
      width: 60%;
    }

    .nav-pills {
      li {
        color: #fff;
        margin-right: 12px;

        .nav-link {
          padding: 1px 15px;
          color: #fff;
          filter: grayscale(1);

          &.active {
            filter: grayscale(0);
          }
        }
      }
    }

    .leaderboards {
      table {
        color: #fff;
        border: none;
        font-size: 14px;

        tr {
          th {
            color: #868686;
            border-top: none;
            font-weight: normal;
          }
.fas{
  &.fa-vr-cardboard, &.vr-desktop{
    font-size:10px;
  }
}
          border-bottom: 1px solid #868686;

          &:last-child {
            border: none;
          }

        }
      }
    }

  }

  #feedback-and-rating {
    position: relative;
    min-height: 300px;
    height: 100%;

    #feedback-box {
      position: absolute;
      top: 0;
      display: none;
      height: 100%;

      .content-feedback {
        position: relative;
        height: 80%;
        overflow: auto;
      }
    }

    #rating-box {
      position: absolute;
      top: 0;

    }
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}