{% import "score/macro/song.html.twig" as macro_song %}
{% for song in songs.entities %}
{% endfor %}

{% for song in songs.entities %}
    {{ macro_song.uploadedSong(song) }}

{% else %}
    <tr>
        <td>No song for now</td>
    </tr>
{% endfor %}
<tr class="see-more-delete">
    <td colspan="11" class="text-center">
        {% import "@Pagination/Pagination/macro.twig" as macro_pagination %}
        {{ macro_pagination.seeMore(songs,"see more"|trans,'btn',{"parent":"#table-song","remove":"#see-more-place"}) }}
    </td>
</tr>
