{% extends 'base.html.twig' %}

{% block title %}Leaderboard {{ parent() }}{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-12 text-center mt-5 mb-5">
            <h1>Leaderboard</h1>
            <form action="">



            </form>

        </div>
    </div>
    <div id="leaderboard" class="row">
{% include 'score/partial/songs_page.html.twig' with {songs:songs} %}
    </div>

{% endblock %}
