{% extends 'base.html.twig' %}

{% block title %}Leaderboard {{ parent() }}{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-12 text-center mt-5 mb-5">
            <h1>Leaderboard <span class="badge badge-info">beta</span></h1>
            <p>Beta means it's the start of a feature so leaderboard can be not stable and can be reset at any time.
                <a href="{{ url('howto') }}#leaderboard">How to use it ? </a>    </p>
            <p>For now only top 3 is displayed, soon I must display your rank on each song.</p>

        </div>
    </div>
    <div id="leaderboard" class="row">
{% include 'score/partial/songs_page.html.twig' with {songs:songs} %}
    </div>

{% endblock %}
