# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
imports:
    - { resource: "@PaginationBundle/Resources/config/services.yml" }

parameters:
    webmaster_email: '%env(WEBMASTER_EMAIL)%'
    webmaster_email_name: '%env(WEBMASTER_EMAIL_NAME)%'
    challenge_banner_directory: '%kernel.project_dir%/public/uploads/challenge/banner/'
    challenge_file_directory: '%kernel.project_dir%/public/uploads/challenge/files/'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
            - '../src/Tests/'


    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    Pkshetlie\PaginationBundle\Service\:
        resource: '../vendor/pkshetlie/pagination-bundle/Service'
        tags: ['pkshetlie.pagination']

    App\EventSubscriber\LocaleSubscriber:
        arguments: [ '%kernel.default_locale%' ]
    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
