{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <div class="text-center">
        <h1>{{ "An error occurs"|trans }}</h1>
        <p class="white">Please report it on <a target="_blank" href="https://discord.com/invite/2vCAAGuwsR">our discord</a></p>
    <img src="/errors/{{ random(['1','2','3','4']) }}.gif" alt="crash sorry"/>
    </div>
    </div>
{% endblock %}