{% extends 'base.html.twig' %}
{% block title %}{{ "%username%'s profile"|trans|replace({"%username%":user.username}) }}{% endblock %}

{% block body %}
    <div class="profile pb-3">
    <div {{ stimulus_controller('mapper-profile') }} {{ stimulus_target('mapper-profile', 'background') }}
            id="mapper-profile">
        <div class="darker pb-4" id="profile-header">
            <div class="container">
                {% block header_content %}{% endblock %}
            </div>
        </div>

    </div>
    <div class="container pt-4">
        {% block detailed_content %}{% endblock %}
    </div>
    </div>
{% endblock %}


