{% extends 'base.html.twig' %}
    {% block title %}{{ user.username }}'s profile{% endblock %}
    {% block body %}
        <div class="row">
            <div class="col-12">
                <h1>{{ user.username }}'s profile</h1>
                <div class="d-flex">
                    <div class="p-5">
                        <img src="{{ user.gravatar }}" alt="{{ user.username }}"/><br/>
                    </div>

                </div>

            </div>
        </div>
    {% endblock %}


