{% extends 'base.html.twig' %}

{% block title %}Song upload{% endblock %}

{% block body %}
{#<div class="row">#}
{#    <div class="col-md-6 offset-md-3  mb-5">#}
{#        <div class="card mt-4">#}
{#            <div class="card-title text-center"><h2>Upload new song</h2></div>#}
{#            <div class="card-body">#}
{#                <div class="alert alert-warning">#}
{#                    <small>{{"New ! to update a map please use the \"edit\" button on your song bellow."|trans}}</small>#}
{#                </div>#}

{#                {{ form_start(form) }}#}
{#                {{ form_end(form) }}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
    <div class="row mt-5">

            {% include 'upload_song/partial/uploaded_song_row.html.twig' with {songs:songs} %}
    </div>


    {% endblock %}
    {% block endBody %}

        <div class="modal fade" id="reviewSong" data-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel1">Song Review</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="form-review">
                        ...
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="editSong" data-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel2" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel2">Custom Song</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="form-edit">
                        ...
                    </div>

                </div>
            </div>
        </div>
    {% endblock %}
