{% extends 'base.html.twig' %}

{% block body %}
<div {{ stimulus_controller('song-upload-v2') }}  class="container">
    <form action="/target" class="dropzone" id="my-form"></form>
</div>
{% endblock %}

{% block title %}

{% endblock %}

