{% macro order_link(text,property,order) -%}
<a href="{{ url(app.request.get('_route'),app.request.get('_route_params')|merge(app.request.query.all)|merge({"order_by":property, "order_sort":app.request.get('order_sort', 'asc') == 'asc'? 'desc':'asc'})) }}"
   class="{% if app.request.get('order_by') == property %}active{% endif %} {% if app.request.get('order_sort', 'asc') == "asc" %}sort-asc{% else %}sort-desc{% endif %}">
    {{ text|trans }}
</a>
{%- endmacro %}